
         *{
           font-family: cursive;
           color:white;
       }
          body {
    background-image: url("../images/patterned_pale_orange_background.jpg");
    }
       
    #container {
    width: 900px;
    height: auto;
    margin: 0 auto;
    border: double;
    background-color: black;
    border-radius: 25px;
    opacity: 0.8;
    /*For IE : this is required !!! */
    filter: alpha(opacity=60);
    }

   
     @media only screen and (max-width: 1100px) {


           * {
               font-size: 15px;
           }

           #container {
               width: 90%;
           }
       }
 
